.selected {
	border:1px solid red;
}

.unselected {
	border: 1px solid black;
}

.button {
	border-collapse: separate;
	position:relative;
	padding: 5px;
	display:inline-block;
	text-align: center;
	border: 2px solid black;
	color:white;
	border-radius:10px;
	background:blue;
	cursor:pointer;
}

.buttonSel {
	border-collapse: separate;
	position:relative;
	padding: 5px;
	display:inline-block;
	text-align: center;
	border: 2px solid black;
	color:white;
	border-radius:10px;
	background:green;
	cursor:pointer;
}

.hireContain {
	position:relative;
	width:100;
	height:100;
	border: 1px solid pink;
	float:left;
	background:pink;
	border-radius:10px;
	overflow:hidden;
}

.hireButton {
	border-collapse: separate;
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	text-align: center;
	border: 2px solid black;
	color:white;
	border-radius:10px;
	background:blue;
	cursor:pointer;
}

.listButton {
	position:relative;
	padding: 0px;
	display:inline-block;
	text-align: center;
	border-radius:10;
}

.stdFloatDiv {
	width:100%;
	position:relative;
	float:left;
}

.stdCenterDiv {
	width:100%;
	position:relative;
	float:left;
	text-align:center;
}

.textBlob {
	width:auto;
}

.centeredmenu {
	position:relative;
   float:left;
   width:100%;
   background:#fff;
   border-bottom:4px solid #000;
   overflow:hidden;
}
.centeredmenu ul {
   //clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   //left:50%;
   text-align:center;
}
.centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding-left:5;
   position:relative;
   border: 1px solid #000000;
}
.centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
.centeredmenu ul li:hover {
	cursor:pointer;
   background:#369;
   color:#fff;
}
.centeredmenu ul li a.active,
.centeredmenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

.stdContainer {
	position:relative;
	float:left;
	display:inline-block;
	overflow:auto;
	width:100%;
}

.halfContain {
	display:inline-block;
	overflow:auto;
	width:50%;
}

.charHolder{
	position:relative;
	float:left;
	width:150;
	height:150;
	border: 1px solid black;
}

.menuPane {
	height:250;
	width:250;
	top:0;
	right:0;
	position:absolute;
	border:1px Solid #000000;
	background: #B0B0B0;
}

.regPane {
	height:650;
	width:1200;
	top:40;
	left:110;
	position:absolute;
	border:1px Solid #000000;
	background: #B0B0B0;
}

.paneCloseButton {
	position:absolute;
	height:20;
	right:0;
	top:0;
	border: 1px solid #FFFFFF;
	background:white;
}

.paneContent {
	position:absolute;
	height: calc(100% - 20px);
	top:20;
	width:100%;
	background:#F0F0F0;
	border:1px solid #00FF00;
}

.selectContain {
	position:relative;
	float:left;
	border: 1px solid black;
	text-align:center;
	margin:5;
}

.slideContain {
	display:inline-block;
	border:1px solid blue;
	width:225px;
}

.slideMin {
	width:40px;
	float:left;
}

.slideBar {
	width:100px;
	float:left;
}

.slideTitle {
	width:100%;
	float: left;
}

.slideVal {
	width: 50%;
	float:left;
	clear:left;
}

.optionScreen {
	width: 100%;
	height: 100%;
	background-color:#F0F0F0;
	opacity:0.5;
}

.rscImg {
	height:100;
	width:100;
}

.selectMenu {
	position:absolute;
	left:0;
	top:0;
	background-color:#000000;
	opacity:0.70;
	width:100%;
	height:100%;
	z-Index:9999;
	overflow:auto;
}
.selectSort {
	position:relative;
	height:25;
	background:green;
	width:100%;
	opacity: 1.0;
}
.selectHead {
	width:100%;
	height:500;
	border:1px solid red;
}

.rscContain {
	width:100;
	height:150;
	border: 2px solid green;
	float: left;
}

.objContain {
	width:200;
	height:200;
	border: 2px solid green;
	float: left;
}

.objContainSelected {
	display: table; text-align: center;
	width:200;
	height:200;
	border: 2px solid red;
	float: left;
}

.objContent {
	width:200;
	height:100;
	border: 2px solid yellow;
	float: left;
}

.productHolder {
	position:relative;
	width:100;
	height:120;
	border: 1px solid pink;
	float:left;
	background:pink;
	border-radius:10px;
}

.productName {
	position:absolute;
	left:0;
	top:0;
	height:25;
	border: 1px solid green;
}

.productQty {
	position:absolute;
	right:0;
	top:60;
	height:20;
	width:100;
	text-align:center;
	border: 1px solid green;
}

.orderContain {
	position:relative;
	width:100;
	height:125;
	border: 1px solid pink;
	float:left;
	background:white;
	border-radius:10px;
}

.orderTime {
	position:absolute;
	left:0;
	top:100;
	height:25;
}

.timeFloat {
	position:relative;
	float:left;
	height:25;
	display:inline-block;
}

.buildSpeedUp {
	position:relative;
	float:left;
	height:25;
	width:25;
}

.demandContain {
	position:relative;
	float:left;
	height:50;
	width:250;
	border: 1px solid blue;
}

.demandIcon {
	position:absolute;
	height:25;
	width:25;
	left:0;
	top:0;
	border: 1px solid black;
}

.demandBar {
	position:absolute;
	height:15;
	left:50;
	top:5;
	border: 1px solid black;
}

.demandRate {
	position:absolute;
	height:25;
	width:125;
	left:0;
	top:25;
	border: 1px solid black;
}

.demandCurrent{
	position:absolute;
	height:25;
	width:125;
	left:125;
	top:25;
	border: 1px solid black;
}

.udHolder {
	position:relative;
	float:left;
	width:150;
	height:150;
	border: 1px solid black;
	background-color:white;
}

.laborImg {
	position:absolute;
	left:0;
	top:0;
	width:50;
	height:50;
}

.laborName {
	position:absolute;
	left:0;
	top:60;
	height:20;
	width:100;
	text-align:center;
}

.laborEd {
	position:absolute;
	left:80;
	top:0;
	height:20;
	width:20;
	border:1px solid green;
}

.laborFire {
	position:absolute;
	left:60;
	top:0;
	height:20;
	width:20;
	border:1px solid green;
}

.laborPay {
	position:absolute;
	left:50;
	top:25;
	height:20;
	width:50;
	border:1px solid green;
	text-align: right;
}

.laborQualBar {
	position:absolute;
	left:25;
	top:55;
	height:6;
	background-color:red;
}

.laborSkillBox {
	position:absolute;
	left:0;
	top:120;
	height:120;
	width:240;
}

.laborQualNum {
	position:absolute;
	left:0;
	top:200;
	height:80;
	width:200;
}

.productImg {
	position:absolute;
	left:20;
	top:0;
	width:60;
	height:60;
}

.msgSum {
	position:relative;
	float:left;
	width:98%;
	border: 1px solid black;
}

.msgSumNew {
	position:relative;
	float:left;
	width:98%;
	border: 3px solid red;
}

.msgContentShow {
	position:relative;
	top:0;
	left:0;
	width:100%;
}

.msgContentHide {
	position:relative;
	top:0;
	left:0;
	height:0;
	overflow:hidden;
}

.spanStyle {
	position:absolute;
	right:0;
}

.tabContentDiv {
	position:relative;
	float:left;
	width:100%;
}

.tabBox {
	position:absolute;
	left:0;
	top:0;
	width:100%;
}

.demogBox {
	position:relative;
	float:left;
	width:250;
	height:30;
	border:1px solid black;
}

.demoBar {
	position:absolute;
	left:10;
	top:10;
	height:5;
	color:red;
}

.townDemo {
	position:absolute;
	left:10;
	top:16;
	height:5;
	color:red;
}

.ldrDemo {
	position:absolute;
	left:10;
	top:22;
	height:5;
	color:red;
}

.edictButton {
	display: inline-block;
	padding:10;
}

.demoChanger {
	position:relative;
	float:left;
	text-align: center;
	width:100;
}

.demoChangeItem {
	display:inline-block;
}

.demoChangeQty {
	display:inline-block;
}

.schoolContain {
	position:relative;
	float:left;
	height:225;
	width:306;
}

.schoolName {
	position:relative;
	float:left;
}

.schoolHire {
	position:relative;
	float:right;
}

.schoolLevel {
	position:relative;
	float:left;
	padding:5px;
}

.schoolLabor {
	position:relative;
	float:left;
	width:306;
}

.schoolPrice {
	position:relative;
	float:left;
	width:306;
}

.factoryDetailContainer {
	position:relative;
	float:left;
	width:500;
	height:300;
}

.factoryProducts {
	position:relative;
	float:left;
	width:250;
	height:100;
}

.factoryLabor {
	position:relative;
	float:left;
	width:250;
	height:100;
}

.cityDetailContain {
	position:relative;
	float:left;
	width:1200;
	border:1px solid black;
}

.cdTax {
	position:relative;
	float:left;
	width:375;
	height:200;
	border:1px solid black;
}

.cdStats {
	position:relative;
	float:left;
	width:375;
	height:200;
	border:1px solid black;
}

.cdDemos {
	position:relative;
	float:left;
	width:1200;
	border:1px solid black;
}

.taxTable tr:nth-child(even){
	background: silver;
}

.taxEx {
	position:absolute;
	right:0;
	top:0;
}

.offerHolder {
	position:relative;
	float:left;
	width:200;
	height:300;
	border: 1px solid black;
	background-color:white;
	text-align:center;
}

.offerTranBox {
	position:absolute;
	top:285;
	margin:auto;
}

.offerStatBox {
	position:relative;
	float:left;
	width:100;
}

.offerPriceBox {
	position:relative;
	float:left;
	width:200;
}

.contractSummary {
	position:relative;
	float:left;
	border:1px solid blue;

	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: 2s;
}

.contractDetail {
	width:350;
	height:250;
	position:relative;
	float:left;
	border:1px solid blue;

	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: height:2s, width:1s;
}

.adjustOptions {
	border:1px solid blue;
	width:400;
	height:500;
	overflow:hidden;
}

.invoiceContain {
	position:relative;
	float:left;
	width:150px;
}


.shipContain {
	position:relative;
	width:100;
	border: 1px solid green;
	float:left;
	background:green;
	border-radius:10px;
}

.shipPrice {
	position:relative;
	left:0;
	bottom:0;
}

.routeOpt {
	position:relative;
	width:98%;
	border: 2px solid green;
}

.routeTime {
	position:relative;
	right:0;
	border: 1px solid green;
}

.skillBox {
	position:relative;
	float:left;
	width:50;
	height:50;
	border-radius: 10px;
	border: 1px solid blue;
	background:grey;
}

.laborHolder {
	position:relative;
	width:100;
	height:100;
	border: 1px solid pink;
	float:left;
	background:pink;
	border-radius:10px;
	overflow: hidden;
}

.laborHolderLg {
	position:relative;
	width:250;
	height:250;
	border: 1px solid pink;
	float:left;
	background:pink;
	border-radius:10px;
	transition: 2s;
}

.laborExButton {
	position:absolute;
	right:0;
	bottom:0;
	height:10;
	width:10;
	border:2px solid red;
}
