.menuBar {
	width:99%:
	border:1px solid black;
}

.optBoxHidden {
	height:0;
	width:0;
	overflow:hidden;
}

.optBoxShow {
	all:initial;
	position:relative;
	width:250;
	float:left;
}

.optionSel {
	position:relative;
	width:250;
	float:left;
	border:1px solid red;
}

.optionUn {
	position:relative;
	width:250;
	float:left;
}

.transRow {
  width:99%;
  position:relative;
  height:20;
}

.transRowDate {
  position:relative;
  width:350;
  float:left;
}

.transRowCard {
  position:relative;
  width:150;
  float:left;
}

.transRowAmount {
  position:relative;
  width:150;
  float:left;
}

.transRowCategory {
  position:relative;
  width:150;
  float:left;
}

.transRowDesc {
  position:relative;
  width:250;
  float:left;
}