
.graphCanvas {
	width:98%;
	height:98%;
	border: 1px solid blue;
}

.menuBar {
	height:40;
	width:99%:
	border:1px solid black;
}

.optBoxShow {
	all:initial;
	background: white;
	position:absolute;
	width:250;
	border:2px solid blue;
	border-radius: 10px;
	background:#DDD;
}

.optBoxHidden {
	height:0;
	width:0;
	overflow:hidden;
}

.optionHead {
	background-color:#CCC;
	position:relative;
	float:left;
	width: 98%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.optionHeadItem {
	background:#DDD;
	padding:10px;
	border:1px solid blue;
	border-radius:5px;
}

.optionItem {
	position:relative;	
	width:248;
	float:left;
	margin: 2px;
}

.optionItem:nth-child(even) {
	background-color:#AAA;
}
.optionItem:nth-child(odd) {
	background-color:#BBB;
}

.optionImg {
	display:inline-block;
	height:15; 
	width:15;
}

.optionText {
	display:inline-block;
}
/*
.optionSel {
	position:relative;	
	width:250;
	float:left;
	border:1px solid red;
	margin: 1px;
	border-radius: 5px;
}

.optionUn {
	position:relative;
	width:250;
	float:left;
	margin: 2px;
}
*/
.sortBar {
	width:200;
	position:relative;
	float:left;
}

.summaryRow {
  width:99%;
  position:relative;
  height:20;
	font-weight: bold;
}

.summaryTable {
	border-collapse:collapse;
	border:1px solid blue;
}

.summaryTableRow:nth-child(even) {
}

.summaryTableRow:nth-child(odd) {
}

.summaryTableItem:nth-child(even) {
	background: #CCC;
	border-spacing:8px;
	border-bottom: 1px solid blue;

	padding-left:25px;
	padding-right:15px;
	height:30px;
	vertical-align:middle;
}

.summaryTableItem:nth-child(odd) {
	background: #FFF;
	border-spacing:8px;
	border-bottom: 1px solid blue;
	padding-left:25px;
	padding-right:15px;
	height:30px;
	vertical-align:middle;
}

.transRow:nth-child(odd) {
	display:inline-block;
  position:relative;
  height:20;
  border:1px solid blue;
  border-radius:7px;
  padding:2px;
  margin:2px;
}

.transRow:nth-child(even) {
	display:inline-block;
  position:relative;
  height:20;
  border:1px solid blue;
  border-radius:7px;
  padding:2px;
  margin:2px;
  background-color:#CCC
}

.transRowDate {
  position:relative;
	width:200;
  float:left;
}

.transRowCard {
  position:relative;
  width:150;
  float:left;
}

.transRowAmount {
  position:relative;
  width:150;
  float:left;
}

.transRowCategory {
  position:relative;
  width:150;
  float:left;
}

.transRowDesc {
  position:relative;
  width:250;
  float:left;
}

.viewOptions {
	position:absolute;
	right:10;
	top:10;
	width:200;
	height:200;
}

